<!-- <div class="container">
	<img src="images.png" />
</div> -->
<div class="template-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				Book Domestic and International flights
			</div>
			<div class="col-sm-6">
				<div class="btn-group" data-toggle="buttons">
				  <label class="btn btn-primary">
				    <input type="radio" name="options" id="option1" autocomplete="off" checked> One way
				  </label>
				  <label class="btn btn-primary">
				    <input type="radio" name="options" id="option2" autocomplete="off"> Round Trip
				  </label>
				  <label class="btn btn-primary">
				    <input type="radio" name="options" id="option3" autocomplete="off"> Multi city
				  </label>
				</div>
			</div>
		</div>
		<div class="row">
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<button class="btn btn-primary">Search</button>
		</div>
	</div>
</div>