.background-image{
	 background-image: url("../MUELLER-GRID-SYSTEM.jpg");
	 width:100%;
	 height:450px;
	 background-size: contain;
	 background-repeat: no-repeat;
}

.template-wrapper{
	background-color: #124680;
	color:#f5f5f5;
	width: 90%;
	min-height: 500px;
	margin:0 auto;		
}

.btn-group label{
	border-radius:10px !important;
	margin-right:10px;
}
.btn-primary:active, .btn-primary.active, .btn-primary.active.focus
{
	background-color: #f5f5f5;
	color:#124680;
	border:0px;
}
.search-options{
	margin-left: 0px;
}
.search-options input[type='text']
{
    /*background: transparent;*/
    border: none;
	padding: 5px 0px;
    margin: 2px 0px;
}

.search-options input[type='text'] + span{
	position: absolute;
    top: 6px;
    color: #000;
	width:100%;
	height: 100%;
}
.search-text-wrapper {
 position: relative;
 display: inline-block;
}